/* _user-profile.scss */
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-amount {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  